
@{
    double subtotalincome = 0;
    double subtotalexpense = 0;
    string username = ViewBag.Username;
}

@model Savex.Models.DashBoards.DashBoard


<h1>
    Hello @username
</h1>
<div class="container">
    <table class="table border">
        <thead>
            <tr>
                <th>
                    <h4>Your Existing Money</h4>
                </th>
                <th>
                    <h4>
                        Your Future Expenses
                    </h4>
                </th>
                <th>
                    <h4>
                        Potential Savings
                    </h4>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TotalExpenses.Where(m => m.SoonToBuy == "Yes" && m.Status == null))
            {

                subtotalexpense += item.Amount;
            }
            @foreach (var item in Model.TotalIncomes)
            {

                subtotalincome += item.Amount;
            }
            <tr>
                <td>
                    <h3>
                        @subtotalincome
                    </h3>
                </td>
                <td>
                    <h3>
                        @subtotalexpense
                    </h3>
                </td>
                <td>
                    <h3>
                        @{
                            double difference = subtotalincome - subtotalexpense;
                        }
                        @difference
                    </h3>
                </td>
            </tr>
        </tbody>
    </table>
    <h1>
    </h1>
</div>