@{
    Layout = null;
}

@model Savex.Models.User.Account
<link href="~/lib/bulma-0.8.2/css/bulma.css" rel="stylesheet" />


<h1>@ViewData["Title"]</h1>

<div class="container">
        <div class="columns is-mobile">
            <div class="column is-three-fifths is-offset-one-fifth">
                <h1 class="title is-1 has-text-black">Savex</h1>
                <div class="box">
                    <form asp-action="SignIn">
                        <input asp-for="Username" class="input is-large" type="text" required placeholder="Please insert your username..." />
                        <input asp-for="Password" class="input is-large" type="password" required placeholder="Please insert your password..." />
                        <div>
                            <label id="lblName" style="color:crimson"></label>

                            @if (ViewBag.Message == "error")
                            {
                                <script>
                                    document.getElementById('lblName').innerHTML = 'Username or Password is incorrect.';
                                </script>

                            }
                            else
                            {

                                <script>
                                    document.getElementById('lblName').innerHTML = '';
                                </script>
                            }
                        </div>

                        <button type="submit" class="button is-primary is-large is-fullwidth">Sign In</button>
                        <a asp-action="ForgetPassword">I forgot my password</a>
                        <br />
                        <a asp-controller="Accounts" asp-action="Create">Create new account</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
